<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="loggerSection" type="MigrationTool.Infrastructure.Configuration.LoggerSection, MigrationTool.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="projectsSection" type="MigrationTool.Infrastructure.Configuration.ProjectsSection, MigrationTool.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <loggerSection>
        <file name="MigrationTool.log" />
    </loggerSection>
    <projectsSection>
        <defaultFolder path=".\MigrationTool\" />
	<projects>
		<project name="test" storageUrl="test" compressed="true"/>
	</projects>
    </projectsSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
